@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using backendBlazServer.Data
@using DataAccessLibrary.Models
@using DataAccessLibrary.Services
@using DataAccessLibrary.Services.ServicesImplementation
@using Task = System.Threading.Tasks.Task

@inject IUserService UserService
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (_users == null)
{
    <p><em>Loading...</em></p>
    @* <button @onclick="CallUsers()">Click</button> *@
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.UserFirstName</td>
                    <td>@user.UserSecondName</td>
                    <td>@user.UserEmail</td>
                </tr>
            }
        </tbody>
    </table>
} 

@code {
    
    private List<User>? _users;

    protected override async Task OnInitializedAsync()
    {
        _users = await UserService.GetUsers();
        
    }

    
}
